html, body {
  margin: 0;
  padding: 0;
  min-width: 550px;
  width: 100%;
  height: 500px;
  background: #EEEEEE
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
  font-smoothing: antialiased;
}

body {
  background: #EEEEEE
}

button,
input[type="checkbox"] {
  outline: none;
}
